"""STRINGS AND ITS METHODS: 
strings in python can be denoted by using single quote ('  ') or double quote ("    ")
for example """

In [13]:
print('K-Hub')# --A string inside  single quote 
print("k-Hub")# --A string inside double quote

K-Hub
k-Hub

Assigning string  to a  variable using single (' ') and double quote(" ")

In [14]:
string  ='K-Hub Task' # using single quote
print(f"-my string:{string}")

-my string:K-Hub Task

Assign Multiline string to a variable by using triple single('''  ''') or double quotes(""" """)

In [15]:
my_intro="""Greetings to everyone, 
myself K.Mohan, pursuing B.tech 3rd year in Kiet group of Institutions of stream Artificial intelligence and Data science"""
print(my_intro)

Greetings to everyone,
myself K.Mohan, pursuing B.tech 3rd year in Kiet group of Institutions of stream Artificial intelligence and Data science

accessing elements of a string can be done by using square brackets-"[]""
#note from index 0 the string begins and also revese indexing also considered ,a single balnk space also considered as a character including special characters

In [17]:
str="pavani"
print(str[0])

p

looping through a string

In [18]:
my_string ="K.Mohan"
for x in my_string:
    print(x)

K
.
M
o
h
a
n

To find the length of a string by using a method -"len()"

In [19]:
my_string ="Kucharlapati Hari RamMohan Raju"
print(len(my_string))

31

checking a string is present or not ,to check if a certain phrase or character is present in a string we can use keyword " in "

In [20]:
my_string ="accessing elements of a string can be done by using square brackets"
print("string " in my_string)

True

checking a string if not in

In [1]:
my_string ="accessing elements of a string can be done by using square brackets"
print("mohan" not in my_string)

True

STRING METHODS
#Capitalize() - converts the first character to upper case

In [3]:
my_intro='''greetings to everyone, 
myself K.Mohan, pursuing B.tech 3rd year in Kiet group of Institutions of stream Artificial intelligence and Data science'''
print(my_intro.capitalize())

Greetings to everyone,
myself k.mohan, pursuing b.tech 3rd year in kiet group of institutions of stream artificial intelligence and data science

Casefold() - converts string into lower case

In [6]:
my_intro='''Greetings to everyone, 
myself K.Mohan, pursuing B.tech 3rd year in Kiet group of Institutions of stream Artificial intelligence and Data science'''
print(my_intro.casefold())

greetings to everyone,
myself k.mohan, pursuing b.tech 3rd year in kiet group of institutions of stream artificial intelligence and data science

center() - Returns a centered string
#syntax -string.center(length,character)-character is used to fill the empty spaces

In [8]:
my_string ="K.Mohan"
print(my_string.center(143))

                                                                    K.Mohan

count()- returns the number of times a specified value occurs in a string 
#syntax -string.count(value,start,end)

In [10]:
my_intro='''Greetings to everyone, myself K.Mohan, pursuing B.tech 3rd year in Kiet group of Institutions of stream Artificial intelligence and Data science'''
print(my_intro.count("o"))
print(my_intro.count("o",11,14))

7
1

encode()  -Returns an encoded version of the string
#syntax -string.encode(encoding="encode",errors="errors")

In [11]:
string = "My name is StÃ¥le"
print(string.encode(encoding="ascii",errors="backslashreplace"))#'backslashreplace'	- uses a backslash instead of the character that could not be encoded
print(string.encode(encoding="ascii",errors="ignore"))#'ignore'	- ignores the characters that cannot be encoded
print(string.encode(encoding="ascii",errors="namereplace"))#'namereplace'	- replaces the character with a text explaining the character
print(string.encode(encoding="ascii",errors="replace"))#'strict'	- Default, raises an error on failure
print(string.encode(encoding="ascii",errors="xmlcharrefreplace"))#'xmlcharrefreplace'	- replaces the character with an xml character

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

#upper()  -Converts a string into upper case

In [12]:
my_string ="K.Mohan"
print(my_string.upper())

K.MOHAN

#BOOLEAN
"""Booleans represent one of two values: True or False.

Boolean Values
In programming you often need to know if an expression is True or False.
You can evaluate any expression in Python, and get one of two answers, True or False."""

Print a message based on whether the condition is True or False:

In [21]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

The bool() function allows you to evaluate any value, and give you True or False in return,

In [22]:
x = "mohan"
y = 15
print(bool(x))
print(bool(y))

True
True

#OPERATORS -Operators are used to perform operations on variables and values.

1. Arithmetic Operators

These operators are used to perform mathematical calculations like addition, subtraction, multiplication, and division.

In [23]:
num1 = 20
num2 = 7
# Addition
print(f"Addition: {num1 + num2}")
# Subtraction
print(f"Subtraction: {num1 - num2}")
# Multiplication
print(f"Multiplication: {num1 * num2}")
# Division
print(f"Division: {num1 / num2}")
# Modulo (Remainder)
print(f"Modulo: {num1 % num2}")
# Floor Division (Integer Division)
print(f"Floor Division: {num1 // num2}")
# Exponentiation
print(f"Exponentiation: {num1 ** 2}")

Addition: 27
Subtraction: 13
Multiplication: 140
Division: 2.857142857142857
Modulo: 6
Floor Division: 2
Exponentiation: 400

2. Comparison (Relational) Operators

These operators are used to compare two values and return a boolean result (True or False).

In [24]:
x = 15
y = 10
# Equal to
print(f"Is x equal to y? {x == y}")
# Not equal to
print(f"Is x not equal to y? {x != y}")
# Greater than
print(f"Is x greater than y? {x > y}")
# Less than
print(f"Is x less than y? {x < y}")
# Greater than or equal to
print(f"Is x greater than or equal to y? {x >= y}")
# Less than or equal to
print(f"Is x less than or equal to y? {x <= y}")

Is x equal to y? False
Is x not equal to y? True
Is x greater than y? True
Is x less than y? False
Is x greater than or equal to y? True
Is x less than or equal to y? False

3. Assignment Operators

These operators are used to assign a value to a variable. They are often a shorthand for a common operation followed by an assignment.

In [25]:
a = 10
print(f"Initial value of a: {a}")
# a = a + 5
a += 5
print(f"After using 'a += 5': {a}")
# a = a * 2
a *= 2
print(f"After using 'a *= 2': {a}")
# a = a - 3
a -= 3
print(f"After using 'a -= 3': {a}")

Initial value of a: 10
After using 'a += 5': 15
After using 'a *= 2': 30
After using 'a -= 3': 27

    4. Logical Operators
    
These operators are used to combine conditional statements. The main logical operators are and, or, and not.

In [26]:
age = 25
has_license = True
# Using 'and'
if age >= 18 and has_license:
  print("You are eligible to drive.")
# Using 'or'
if age < 18 or not has_license:
  print("You are not eligible to drive.")
# Using 'not'
is_sunny = False
if not is_sunny:
  print("It is not sunny outside.")

You are eligible to drive.
It is not sunny outside.

5. Identity Operators

These operators (is, is not) are used to check if two variables point to the same object in memory.

In [27]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x
# 'is' checks if x and y refer to the exact same object
print(f"Is x the same object as y? {x is y}")
# 'is' checks if x and z refer to the exact same object
print(f"Is x the same object as z? {x is z}")
# '==' checks if the values of x and y are the same (they are)
print(f"Are the values of x and y equal? {x == y}")

Is x the same object as y? False
Is x the same object as z? True
Are the values of x and y equal? True

6. Membership Operators

These operators (in, not in) are used to test if a sequence (like a list, string, or tuple) contains a certain item.

In [29]:
fruits = ["apple", "banana", "cherry"]
my_word = "Python"
# 'in' checks if "banana" is in the 'fruits' list
print(f"Is 'banana' in the list? {'banana' in fruits}")
# 'not in' checks if "orange" is not in the 'fruits' list
print(f"Is 'orange' not in the list? {'orange' not in fruits}")
# 'in' also works with strings, checking for a character
print(f"Is 't' in the word? {'t' in my_word}")
# 'in' can check for a substring
print(f"Is 'tho' in the word? {'tho' in my_word}")

Is 'banana' in the list? True
Is 'orange' not in the list? True
Is 't' in the word? True
Is 'tho' in the word? True

LIST  :

1. Creating and Accessing a List
This program demonstrates how to create a list and access its elements using both positive (starting from 0) and negative (starting from the end) indices.

In [ ]:

fruits = ["apple", "banana", "cherry", "date"]
first_fruit = fruits[0]
third_fruit = fruits[2]
last_fruit = fruits[-1]
second_to_last = fruits[-2]
print(f"The first fruit is: {first_fruit}")
print(f"The third fruit is: {third_fruit}")
print(f"The last fruit is: {last_fruit}")
print(f"The second to last fruit is: {second_to_last}")

The first fruit is: apple
The third fruit is: cherry
The last fruit is: date
The second to last fruit is: cherry

2. Modifying a List

This program shows how to change the value of an element at a specific index.

In [35]:
numbers = [10, 20, 30, 40]
print(f"Original list: {numbers}")
numbers[1] = 25
numbers[3] = 50
print(f"Modified list: {numbers}")

Original list: [10, 20, 30, 40]
Modified list: [10, 25, 30, 50]

3. Adding and Removing Elements

This program demonstrates how to add elements to a list using append() and insert(), and how to remove them using remove() and pop().

In [36]:
shopping_list = ["milk", "bread", "eggs"]
print(f"Initial list: {shopping_list}")
# Add an element to the end of the list
shopping_list.append("cheese")
print(f"After appending 'cheese': {shopping_list}")
# Insert an element at a specific position (index 1)
shopping_list.insert(1, "yogurt")
print(f"After inserting 'yogurt': {shopping_list}")
# Remove an item by its value
shopping_list.remove("bread")
print(f"After removing 'bread': {shopping_list}")
# Remove the last item and get its value
last_item = shopping_list.pop()
print(f"Popped item: {last_item}")
print(f"List after pop: {shopping_list}")

Initial list: ['milk', 'bread', 'eggs']
After appending 'cheese': ['milk', 'bread', 'eggs', 'cheese']
After inserting 'yogurt': ['milk', 'yogurt', 'bread', 'eggs', 'cheese']
After removing 'bread': ['milk', 'yogurt', 'eggs', 'cheese']
Popped item: cheese
List after pop: ['milk', 'yogurt', 'eggs']

4. Iterating Through a List

This program uses a for loop to go through each item in a list and perform an action.

In [37]:
colors = ["red", "green", "blue"]
for color in colors:
  print(f"The current color is: {color}")

The current color is: red
The current color is: green
The current color is: blue

5. Checking for an Item and Finding the Length

This program shows how to check if an item exists in a list and how to get the total number of elements.

In [ ]:
cities = ["New York", "London", "Paris", "Tokyo"]
if "London" in cities:
  print("London is in the list of cities.")
if "Berlin" not in cities:
  print("Berlin is not in the list of cities.")
number_of_cities = len(cities)
print(f"There are {number_of_cities} cities in the list.")

London is in the list of cities.
Berlin is not in the list of cities.
There are 4 cities in the list.

6.LIST METHODS-

append() - Adds an element to the end
The append() method adds a single item to the end of a list.

In [39]:
fruits = ["apple", "banana"]
print(f"Original list: {fruits}")
fruits.append("cherry")
print(f"After append(): {fruits}")

Original list: ['apple', 'banana']
After append(): ['apple', 'banana', 'cherry']

7. extend() - Appends elements from another iterable

The extend() method adds all the items of an iterable (like another list, a tuple, etc.) to the end of the current list.

In [41]:
list1 = ["a", "b", "c"]
list2 = ["d", "e", "f"]
print(f"Original list1: {list1}")
list1.extend(list2)
print(f"After extend(): {list1}")

Original list1: ['a', 'b', 'c']
After extend(): ['a', 'b', 'c', 'd', 'e', 'f']

8.insert() - Adds an element at a specific index

The insert() method adds an item at a specified position in the list. It takes two arguments: the index and the item.

In [43]:
colors = ["red", "green", "blue"]
print(f"Original list: {colors}")
colors.insert(1, "yellow")
print(f"After insert(): {colors}")

Original list: ['red', 'green', 'blue']
After insert(): ['red', 'yellow', 'green', 'blue']

9. remove() - Removes an element by value

The remove() method removes the first occurrence of the specified value.

In [47]:
numbers = [10, 20, 30, 20]
print(f"Original list: {numbers}")
numbers.remove(20)
print(f"After remove(20): {numbers}")

Original list: [10, 20, 30, 20]
After remove(20): [10, 30, 20]

10. pop() - Removes and returns an element at a specific index

The pop() method removes an element at the given index and returns its value. If no index is specified, it removes and returns the last item.

In [50]:
shopping_list = ["milk", "bread", "eggs"]
print(f"Original list: {shopping_list}")
popped_item = shopping_list.pop(1)
print(f"Popped item: {popped_item}")
print(f"List after pop(1): {shopping_list}")
last_item = shopping_list.pop()
print(f"Popped last item: {last_item}")
print(f"List after pop(): {shopping_list}")

Original list: ['milk', 'bread', 'eggs']
Popped item: bread
List after pop(1): ['milk', 'eggs']
Popped last item: eggs
List after pop(): ['milk']

11.clear() - Removes all elements

The clear() method removes all the elements from the list, making it empty.

In [51]:
my_list = [1, 2, 3]
print(f"Original list: {my_list}")
my_list.clear()
print(f"After clear(): {my_list}")

Original list: [1, 2, 3]
After clear(): []

12.index() - Returns the index of an element

The index() method returns the index of the first occurrence of the specified value. It will raise an error if the value is not found.

In [54]:
letters = ['a', 'b', 'c', 'a']
index_of_c = letters.index('c')
print(f"The index of 'c' is: {index_of_c}")
index_of_a = letters.index('a')
print(f"The first index of 'a' is: {index_of_a}")

The index of 'c' is: 2
The first index of 'a' is: 0

13.count() - Counts the occurrences of an element

The count() method returns the number of times a specified value appears in the list.

In [57]:
my_numbers = [1, 2, 3, 1, 4, 1, 111]
count_of_one = my_numbers.count(1)
print(f"The number 1 appears {count_of_one} times.")

The number 1 appears 3 times.

14.sort() - Sorts the list in ascending order

The sort() method sorts the items of the list in place (modifies the original list). By default, it sorts in ascending order. You can use reverse=True to sort in descending order.

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(f"Sorted list (ascending): {numbers}")
numbers.sort(reverse=True)
print(f"Sorted list (descending): {numbers}")

Sorted list (ascending): [1, 1, 2, 3, 4, 5, 9]
Sorted list (descending): [9, 5, 4, 3, 2, 1, 1]

15.reverse() - Reverses the order of the list

The reverse() method reverses the sorting order of the elements in the list.

In [62]:
data = ["z", "a", "b"]
print(f"Original list: {data}")
data.reverse()
print(f"Reversed list: {data}")

Original list: ['z', 'a', 'b']
Reversed list: ['b', 'a', 'z']

16.copy() - Creates a copy of the list

The copy() method returns a shallow copy of the list. This is important to create an independent list that can be modified without affecting the original.

In [63]:
original_list = [10, 20, 30]
copied_list = original_list.copy()
print(f"Original list: {original_list}")
print(f"Copied list: {copied_list}")
copied_list.append(40)
print(f"Original after change: {original_list}")
print(f"Copied after change: {copied_list}")

Original list: [10, 20, 30]
Copied list: [10, 20, 30]
Original after change: [10, 20, 30]
Copied after change: [10, 20, 30, 40]

TUPLES :

1. Tuple Creation and Access

In [67]:

my_tuple = ("apple", 10, True, 3.14)
print(f"My tuple: {my_tuple}")
first_element = my_tuple[0]
print(f"The first element is: {first_element}")
last_element = my_tuple[-1]
print(f"The last element is: {last_element}")
slice_of_tuple = my_tuple[1:3]
print(f"A slice from index 1 to 3: {slice_of_tuple}")
# A tuple with a single element must have a trailing comma
single_element_tuple = ("hello",)
print(f"A single-element tuple: {single_element_tuple}")

My tuple: ('apple', 10, True, 3.14)
The first element is: apple
The last element is: 3.14
A slice from index 1 to 3: (10, True)
A single-element tuple: ('hello',)

2. Tuples are Immutable (Demonstration)

This program shows that trying to change an element in a tuple will result in an error.

In [ ]:
immutable_tuple = ("a", "b", "c")
print(f"Original tuple: {immutable_tuple}")
# This line will cause a TypeError because tuples are immutable
try:
  immutable_tuple[0] = "x"
except TypeError as e:
  print(f"Error: {e}")

Original tuple: ('a', 'b', 'c')
Error: 'tuple' object does not support item assignment

3. count() - Counts the occurrences of an item

The count() method returns the number of times a specified value appears in the tuple.

In [71]:
my_numbers = (1, 2, 3, 1, 4, 1)
count_of_one = my_numbers.count(1)
print(f"The tuple is: {my_numbers}")
print(f"The number 1 appears {count_of_one} times.")

The tuple is: (1, 2, 3, 1, 4, 1)
The number 1 appears 3 times.

4.index() - Returns the index of an item

The index() method returns the index of the first occurrence of the specified value. It will raise a ValueError if the item is not found.

In [74]:
my_tuple = ("red", "green", "blue", "green")
index_of_green = my_tuple.index("green")
print(f"The index of 'green' is: {index_of_green}")
# If the item is not in the tuple, it will raise an error
try:
  index_of_yellow = my_tuple.index("yellow")
except ValueError as a:
  print(f"Error: {a}")

The index of 'green' is: 1
Error: tuple.index(x): x not in tuple

SET:

Sets are unordered collections of unique elements. Duplicate items are automatically removed.

1.Set creation

In [76]:

my_set = {"apple", "banana", "cherry"}
print(f"Set created with unique items: {my_set}")
my_list = ["apple", "banana", "cherry", "apple"]
unique_set = set(my_list)
print(f"Set created from a list (duplicates removed): {unique_set}")

Set created with unique items: {'cherry', 'apple', 'banana'}
Set created from a list (duplicates removed): {'cherry', 'apple', 'banana'}

2. Adding and Removing Elements

 How to add and remove items from a set using the add(), remove(), discard(), and clear() methods.

In [78]:
fruits = {"apple", "banana"}
print(f"Initial set: {fruits}")
fruits.add("orange")
print(f"After adding 'orange': {fruits}")
try:
  fruits.remove("banana")
  print(f"After removing 'banana': {fruits}")
except KeyError:
  print("Item not found in set.")
# Use discard(), which is safer as it does not raise an error if the item is not present.
fruits.discard("grape")
print(f"After trying to discard 'grape': {fruits}")
fruits.clear()
print(f"After clearing the set: {fruits}")

Initial set: {'apple', 'banana'}
After adding 'orange': {'apple', 'banana', 'orange'}
After removing 'banana': {'apple', 'orange'}
After trying to discard 'grape': {'apple', 'orange'}
After clearing the set: set()

3. Set Operations (Mathematical):

Sets are excellent for performing mathematical operations like union, intersection, and difference

In [80]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set_union = set1.union(set2)
print(f"Union of set1 and set2: {set_union}")
# Alternatively, you can use the | operator
set_union_op = set1 | set2
print(f"Union using '|' operator: {set_union_op}")

set_intersection = set1.intersection(set2)
print(f"Intersection of set1 and set2: {set_intersection}")
# Alternatively, you can use the & operator
set_intersection_op = set1 & set2
print(f"Intersection using '&' operator: {set_intersection_op}")

set_difference = set1.difference(set2)
print(f"Difference (set1 - set2): {set_difference}")
# Alternatively, you can use the - operator
set_difference_op = set1 - set2
print(f"Difference using '-' operator: {set_difference_op}")

set_symmetric_difference = set1.symmetric_difference(set2)
print(f"Symmetric Difference: {set_symmetric_difference}")
# Alternatively, you can use the ^ operator
set_symmetric_difference_op = set1 ^ set2
print(f"Symmetric Difference using '^' operator: {set_symmetric_difference_op}")

Union of set1 and set2: {1, 2, 3, 4, 5, 6}
Union using '|' operator: {1, 2, 3, 4, 5, 6}
Intersection of set1 and set2: {3, 4}
Intersection using '&' operator: {3, 4}
Difference (set1 - set2): {1, 2}
Difference using '-' operator: {1, 2}
Symmetric Difference: {1, 2, 5, 6}
Symmetric Difference using '^' operator: {1, 2, 5, 6}

4. Checking for an Item and Length

How to check if an element is in a set and how to find the number of elements.

In [81]:
my_set = {"car", "bike", "plane"}
if "bike" in my_set:
  print("Bike is in the set.")
if "boat" not in my_set:
  print("Boat is not in the set.")
# Get the number of elements in the set
set_length = len(my_set)
print(f"The set has {set_length} elements.")

Bike is in the set.
Boat is not in the set.
The set has 3 elements.

DICTIONARY:

1.Creation and Access

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(f"The dictionary is: {person}")
name = person["name"]
print(f"The person's name is: {name}")

# Accessing a value for a key that doesn't exist will cause an error
try:
  country = person["country"]
except KeyError as e:
  print(f"Error: {e}")

The dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York'}
The person's name is: Alice
Error: 'country'

2. Adding and Modifying Elements in Dictionary

In [85]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(f"Initial dictionary: {car}")
car["color"] = "red"
print(f"After adding a new key: {car}")
car["year"] = 1970
print(f"After modifying 'year': {car}")
car["brand"]="Supra"
print(f"After modifying 'brand': {car}")

Initial dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After adding a new key: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
After modifying 'year': {'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'color': 'red'}
After modifying 'brand': {'brand': 'Supra', 'model': 'Mustang', 'year': 1970, 'color': 'red'}

3. Removing Elements in Dictionary

In [87]:
student = {
    "name": "Bob",
    "id": 101,
    "grade": "A"
}
print(f"Initial dictionary: {student}")
removed_grade = student.pop("grade")
print(f"Removed grade: {removed_grade}")
print(f"After using pop(): {student}")
del student["id"]
print(f"After using del: {student}")
student.clear()
print(f"After using clear(): {student}")

Initial dictionary: {'name': 'Bob', 'id': 101, 'grade': 'A'}
Removed grade: A
After using pop(): {'name': 'Bob', 'id': 101}
After using del: {'name': 'Bob'}
After using clear(): {}

4. Dictionary Methods (keys(), values(), items(), get())

These methods are used to get views of the dictionary's contents and to safely retrieve values.

In [ ]:
product = {
    "name": "Laptop",
    "price": 1200,
    "stock": 50
}
keys_list = product.keys()
print(f"Keys: {keys_list}")

values_list = product.values()
print(f"Values: {values_list}")

items_list = product.items()
print(f"Items: {items_list}")

stock_count = product.get("stock")
print(f"Stock count: {stock_count}")

warranty = product.get("warranty")
print(f"Warranty info: {warranty}")

warranty_default = product.get("warranty", "Not available")
print(f"Warranty info with default: {warranty_default}")

Keys: dict_keys(['name', 'price', 'stock'])
Values: dict_values(['Laptop', 1200, 50])
Items: dict_items([('name', 'Laptop'), ('price', 1200), ('stock', 50)])
Stock count: 50
Warranty info: None
Warranty info with default: Not available